{% load staticfiles %}

<!DOCTYPE html>
<html lang="fr">
<head>
  <!-- Title -->

  <!-- Required Meta Tags Always Come First -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1">
  <meta name="description" content="Sherpa Consulting Planning | Connexion By Ebrain.fr">
  <meta name="author" content="Ebrain">
  <title>Sherpa Consulting Planning | Connexion</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="img/png" href="{% static 'compte/img/alltoo_logo.png' %}">

  <!-- CSS Implementing Plugins -->
  
  <link rel="stylesheet" href="{% static 'compte/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'compte/css/hs.megamenu.css' %}">
  <link rel="stylesheet" href="{% static 'compte/css/jquery.mCustomScrollbar.css' %}">
  <link rel="stylesheet" href="{% static 'compte/css/jquery.fancybox.css' %}">
  <link rel="stylesheet" href="{% static 'compte/css/slick.css' %}">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <!-- CSS Front Template -->
  <link rel="stylesheet" href="{% static 'compte/css/theme_login.css' %}">


<style type="text/css">
    form label
    {
        display: none;

    }

    form input[type=text], input[type=password], input[type=email]
      {
        border: none;
    height: 50px;
    margin-top: 1.25rem;
    background-color: rgba(247,247,249,.7);
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    display: block;
    width: 100%;
    height: calc(1.5em + 1.3rem + 2px);
    padding: .65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #e2e5ec;
    border-radius: 4px;
    -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
      }


  </style>

</head>
<body>
  <!-- ========== HEADER ========== -->
  <header id="header" class="u-header u-header--bg-transparent u-header--abs-top">
    <div class="u-header__section">
      <div id="logoAndNav" class="container-fluid">
        <!-- Nav -->
        <nav class="navbar navbar-expand u-header__navbar">
          <!-- White Logo -->
          
          <!-- End White Logo -->
          <!-- End Default Logo -->

          <!-- End Button -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
  <main id="content" role="main">
    <!-- Form -->
    <div class="d-flex align-items-center position-relative height-lg-100vh">
      <div class="col-lg-6 col-xl-6 d-none d-lg-flex align-items-center gradient-half-primary-v1 height-lg-100vh px-0" style="    background-image: linear-gradient(150deg, #05080a 0%, #00b9af 100%);">
        <div class="w-100 p-5">
          

          <!-- Testimonials Carousel Main -->
          <div id="testimonialsNavMain" class="js-slick-carousel u-slick mb-4"
               data-infinite="true"
               data-autoplay="true"
               data-speed="5000"
               data-fade="true"
               data-nav-for="#testimonialsNavPagination">
            <div class="js-slide">
              <!-- Testimonials -->
              <div class="w-md-100 w-lg-100 text-center mx-auto">
                <img src="{% static 'compte/img/planning_connexion.png' %}" style="width: 100%;">
                
              </div>
              <!-- End Testimonials -->
            </div>

            


          </div>
          <!-- End Testimonials Carousel Main -->


          <!-- End Testimonials Carousel Pagination -->
          <!-- <center>
          <div class="position-absolute right-0 bottom-0 left-0 text-center p-5">
          
            <h4 class="h6 text-white-70 mb-3">Bientôt disponible</h4>-->

            
            <!-- Button -->
            <!-- <button type="button" class="btn btn-xs btn-white btn-wide transition-3d-hover text-left mb-2 mr-1" style="cursor: not-allowed;">
              <span class="media align-items-center">
                <span class="fab fa-apple fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Télécharger sur</span>
                  <strong class="font-size-1">App Store</strong>
                </span>
              </span>
            </button> -->
            <!-- End Button -->

            <!-- Button -->
            <!-- <button type="button" class="btn btn-xs btn-white btn-wide transition-3d-hover text-left mb-2" style="cursor: not-allowed;">
              <span class="media align-items-center">
                <span class="fab fa-google-play fa-2x mr-3"></span>
                <span class="media-body">
                  <span class="d-block">Télécharger sur</span>
                  <strong class="font-size-1">Google Play</strong>
                </span>
              </span>
            </button> -->
            <!-- End Button -->
            
          <!-- </div>
          </center> -->
        </div>
      </div>



      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 col-lg-7 col-xl-6 offset-md-2 offset-lg-2 offset-xl-3 space-3 space-lg-0">

            
          {% block body %}

              {% if messages %}
              <div>
            {% for message in messages %}
             <script type="text/javascript">
              function() {
                toastr.options = {
                "closeButton": false,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "2500",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
              };
              toastr.{{ message.tags }}('{{ message }}');
            };
            </script>
            {% endfor %}
              </div>
              {% endif %}

            
              {% block content %}
              {% endblock %}
              {% endblock %}
              {% block extra_body %}
              {% endblock %}
            
          </div>
        </div>
      </div>
    </div>
    <!-- End Form -->

  </main>
  <!-- ========== END MAIN ========== -->

  <!-- JS Global Compulsory -->
  <script src="{% static 'compte/js/jquery.min.js' %}"></script>
  <script src="{% static 'compte/js/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'compte/js/popper.min.js' %}"></script>
  <script src="{% static 'compte/js/bootstrap.min.js' %}"></script>

  <!-- JS Implementing Plugins -->
  <script src="{% static 'compte/js/hs.megamenu.js' %}"></script>
  <script src="{% static 'compte/js/svg-injector.min.js' %}"></script>
  <script src="{% static 'compte/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
  <script src="{% static 'compte/js/jquery.validate.min.js' %}"></script>
  <script src="{% static 'compte/js/jquery.fancybox.min.js' %}"></script>
  <script src="{% static 'compte/js/typed.min.js' %}"></script>
  <script src="{% static 'compte/js/slick.js' %}"></script>

  <!-- JS Front -->
  <script src="{% static 'compte/js/hs.core.js' %}"></script>
  <script src="{% static 'compte/js/hs.header.js' %}"></script>
  <script src="{% static 'compte/js/hs.unfold.js' %}"></script>
  <script src="{% static 'compte/js/hs.focus-state.js' %}"></script>
  <script src="{% static 'compte/js/hs.malihu-scrollbar.js' %}"></script>
  <script src="{% static 'compte/js/hs.validation.js' %}"></script>
  <script src="{% static 'compte/js/hs.fancybox.js' %}"></script>
  <script src="{% static 'compte/js/hs.slick-carousel.js' %}"></script>
  <script src="{% static 'compte/js/hs.show-animation.js' %}"></script>
  <script src="{% static 'compte/js/hs.svg-injector.js' %}"></script>
  <script src="{% static 'compte/js/hs.go-to.js' %}"></script>

  <!-- JS Plugins Init. -->
  <script>
    $(document).on('ready', function () {
      // initialization of slick carousel
      $.HSCore.components.HSSlickCarousel.init('.js-slick-carousel');

      // initialization of form validation
      $.HSCore.components.HSValidation.init('.js-validate');
    });
  </script>
</body>
</html>