{% load staticfiles %}
<style type="text/css">
    input[type=checkbox] {
    display:none;
    }
    .email input[type=checkbox] + label {
        display:inline-block;
        padding: 0 0 0 0px;
        background: url('https://api.iconify.design/simple-line-icons:envelope.svg') no-repeat center center / contain;
        height: 23px;
        width: 23px;;
        background-size: 100%;
    }
    .email input[type=checkbox]:checked + label {
        background: url('https://api.iconify.design/simple-line-icons:envelope.svg?color=%232c77f4') no-repeat center center / contain;
        height: 23px;
        width: 23px;
        display:inline-block;
        background-size: 100%;
    }
    .sms input[type=checkbox] + label {
        display:inline-block;
        padding: 0 0 0 0px;
        background: url('https://api.iconify.design/simple-line-icons:speech.svg') no-repeat center center / contain;
        height: 23px;
        width: 23px;;
        background-size: 100%;
    }
    .sms input[type=checkbox]:checked + label {
        background: url('https://api.iconify.design/simple-line-icons:speech.svg?color=%232c77f4') no-repeat center center / contain;
        height: 23px;
        width: 23px;
        display:inline-block;
        background-size: 100%;
    }
</style>

<div class="kt-chat">
    <div class="kt-portlet kt-portlet--last" style="margin-top: 0;">
        <div class="kt-portlet__head">
            <div class="kt-chat__head ">
                <div class="kt-chat__left">
                    <div class="kt-chat__label">
                        <a href="#" class="kt-chat__title">{{consultant_selectionne.first_name}} {{consultant_selectionne.last_name}}</a>
                    </div>
                </div>
                <div class="kt-chat__right">
                    <a class="btn btn-clean btn-sm btn-icon" onclick="openModal({{consultant_selectionne.id}})" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24"/>
                                <path d="M8.43296491,7.17429118 L9.40782327,7.85689436 C9.49616631,7.91875282 9.56214077,8.00751728 9.5959027,8.10994332 C9.68235021,8.37220548 9.53982427,8.65489052 9.27756211,8.74133803 L5.89079566,9.85769242 C5.84469033,9.87288977 5.79661753,9.8812917 5.74809064,9.88263369 C5.4720538,9.8902674 5.24209339,9.67268366 5.23445968,9.39664682 L5.13610134,5.83998177 C5.13313425,5.73269078 5.16477113,5.62729274 5.22633424,5.53937151 C5.384723,5.31316892 5.69649589,5.25819495 5.92269848,5.4165837 L6.72910242,5.98123382 C8.16546398,4.72182424 10.0239806,4 12,4 C16.418278,4 20,7.581722 20,12 C20,16.418278 16.418278,20 12,20 C7.581722,20 4,16.418278 4,12 L6,12 C6,15.3137085 8.6862915,18 12,18 C15.3137085,18 18,15.3137085 18,12 C18,8.6862915 15.3137085,6 12,6 C10.6885336,6 9.44767246,6.42282109 8.43296491,7.17429118 Z" fill="#000000" fill-rule="nonzero"/>
                            </g>
                        </svg>
                    </a>
                    <button type="button" class="btn btn-clean btn-sm btn-icon" data-dismiss="modal">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                    <rect x="0" y="7" width="16" height="2" rx="1"/>
                                    <rect opacity="0.3" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000) " x="0" y="7" width="16" height="2" rx="1"/>
                                </g>
                            </g>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="kt-scroll kt-scroll--pull" data-height="410" data-mobile-height="225" style="overflow: auto; height: 400px;" id="msg_wrapper">
                <div class="kt-chat__messages kt-chat__messages--solid messages">
                    {% for message in msg %}
                    {% if message.user.username == consultant_selectionne.username %}
                    <div class="kt-chat__message kt-chat__message--success" style="min-width: 51%;">
                        <div class="kt-chat__user">
                            <span class="kt-media kt-media--circle kt-media--sm">
                                <img src="{{ message.user.profile.avatar.url }}" alt="image">
                            </span>
                            <a href="{% url 'profil_utilisateur' consultant_selectionne.id %}" class="kt-chat__username">{{consultant_selectionne.first_name}} {{consultant_selectionne.last_name}}</a>
                            <span class="kt-chat__datetime">{{message.date}}</span>
                        </div>
                        <div class="kt-chat__text">
                            {{message.message}}
                        </div>
                    </div>
                    {% else %}
                    <div class="kt-chat__message kt-chat__message--right kt-chat__message--brand" style="min-width: 51%;">
                        <div class="kt-chat__user">
                            <span class="kt-chat__datetime">{{message.date}}</span>
                            <a href="#" class="kt-chat__username">Sherpa Consulting</a>
                            {% if message.user.profile.avatar.url != None %}
                            <span class="kt-media kt-media--circle kt-media--sm">
                                <img src="{{ message.user.profile.avatar.url }}" alt="image">
                            </span>
                            {% else %}
                            <span class="kt-media kt-media--circle kt-media--sm" style="background-color:{{message.user.profile.couleur_rdm}}30;">
                                <span style="color:{{message.user.profile.couleur_rdm}};font-weight:bold;">{{message.user.profile.diminutif}}</span>
                            </span>
                            {% endif %}
                        </div>
                        <div class="kt-chat__text">
                            {{message.message}}
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <form action="" method="POST" id="post-form"> {% csrf_token %}
                <div class="kt-chat__input">
                    <div class="kt-chat__editor">
                        <input type="hidden" name="id_consultant" id="id_consultant" value="{{consultant_selectionne.id}}">
                        <textarea style="height: 40px; width: 90%; resize: none;" id="message_text" placeholder="Ecrivez ici..."></textarea>
                        <div class="kt-chat__toolbar">
                            <div class="kt_chat__tools">
                                <div class="kt-checkbox-inline">
                                    <div class="email btn btn-clean btn-sm btn-icon" style="display: inline-flex;cursor: pointer;">
                                        <input name="message_email" id="message_email" type="checkbox">
                                        <label for="message_email" style="cursor: pointer;"></label>
                                    </div>
                                    
                                    <div class="sms btn btn-clean btn-sm btn-icon" style="display: inline-flex; margin-left: 15px;cursor: pointer;">
                                        <input name="message_sms" id="message_sms" type="checkbox">
                                        <label for="message_sms" style="cursor: pointer;"></label>
                                    </div>
                                </div>
                            </div>
                            <div class="kt_chat__actions">
                                <button type="submit" class="btn btn-brand btn-md  btn-font-sm btn-upper btn-bold kt-chat__reply">répondre</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>